.additionalbox{
    margin-top: 10px;
    .container{
        .modalfade{
            .modal-dialog{
                .modal-content{
                    height: 451px;
                    .modal-body{
                      .checktaste{
                        margin: -6rem 9rem;
                        .red{
                            color: rgb(227, 61, 61);

                        }
                        p{
                            i{
                                letter-spacing: 7px;
                                color: rgb(68, 226, 83);
                            }
                        }
                    }
                        .accordionmodal{
                             margin-top: -34px;
                             h2{
                                button{
                                        background-color: rgb(31, 148, 183);
                                        color: white;

                                }
                             }
                             .accordion-item{
                                .accordion-body{
                                    background-color: rgb(33, 176, 218);
                                    p{
                                        color: white;
                                    }
                                }

                
                             }
                        }
                    }
                   
                    .modal-footer{
                        position: absolute;
                        right: 0;
                        bottom: -10px;
                        border: none;
                    }
                    .modal-header{
                        border: none;
                        justify-content: left;
                        .tasteheader{
                            margin: 6rem 9rem;

                        }
                        .information{
                            padding: 5px;
                            p{
                                margin-bottom: 0;
                            }
                            span{
                                font-size: 11px;
                            }
}
                        }
                        
                        .height{
                            height: 40px;
                            width: 40px;
                            border: 1px solid rgb(33, 176, 218);
                            font-size: 11px;
                             border-radius: 50%;
                             display: inline-block;
                             
                            p{
                                
                                    margin: 10px;
                                    color: rgb(243, 195, 98);


                            }
                        }
                        
                        
                        }
                      
                        }
                    }
                }
            }
        
        .modalbtn{
            background: rgb(31, 148, 183);
            .btnchoices{
                margin: 3rem 1rem;
                p{
                    border: 1px solid rgb(241, 182, 64);
                     color: rgb(241, 182, 64);
                }
            }
           
            .baggagebox{
                color: rgb(241, 182, 64);
            }
            .imgicon{
                width: 91px;
                img{
                    width: 100%;
                }
            }
        }
    
        .checkedtransportation{
            margin-top: 4rem;
        
            .container{
                .checked{
                    border: 1px solid rgb(32, 148, 183);
    padding: 1rem;
                    .airline{
                        .transportation{
                            .blue{
                                color: rgb(68, 166, 195);
                                font-size: 21px;
                    
                            }
                            .gray{
                                color:rgb(169, 169, 169);
                            }
                        }
                    }
                                    
                                    .form-check{
                                        padding-left: 7.5em;
                                        .form-check-label{
                                            p{
                                               color:rgb(169, 169, 169);
                                            }
                                        }
                    
                                    }
                                    .imgsms{
                                        margin-top: 7px;
                                        img{
                                            width: 50px;
                                        }
                                    }
                }

            }
  
           }
           .payment{
            margin-top: 3rem;
            .container{
                .form-check{
                    
                    .form-check-label:hover{
                        background-color: rgb(31, 148, 183);
                        color: white;
                    }
                    .clickinput{
                        margin-left: -2.5rem;
                        width: 2rem;
                        height: 2rem;
                    }
                    .clickinput:checked{
                        background-color: rgb(241, 182, 64);
        border-color: rgb(241, 182, 64);
                    }
                }
                
            }
           }
                
            
        
          
        



@media screen and (max-width: 915px) and (min-width: 360px) {
   .additionalbox{
    .modalbtn{
        .imgicon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 29%;
    margin-bottom: 23px;

        }
    }
   }
  }

@media screen and (max-width: 1180px) and (min-width: 768px) 
{
    .additionalbox{
    .modalbtn{
        .imgicon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 23px;

        }
    }
   }
}
